 <meta property="og:type" content="blogs">
<% meta :description => @blog.title %>
<h6><%=h content_for(:title, @blog.title ) %></h6>
<div id="blogs_show" class="large-8 medium-8 push-2">
	<div class="large-8 medium-8 large-push-2 medium-push-2 blog">
      <div class="large-12 title">
        <%= @blog.title %>
      </div>
      <div class="large-12 description">
        <%= @blog.description %>
      </div>
      <div class="large-12 pic">
      	<%= @blog.ckimage.html_safe %>
      </div>
      <div class="large-4 medium-4 large-push-8 medium-push-8">
        Written on <%= @blog.updated_at.strftime('%b %d, %Y') %>
      </div>
    </div>
  <div class="large-2 medium-3 small-3 large-push-8 medium-push-7 small-push-8">
    <%= link_to "Back to Blogs", blogs_path %>
  </div>
</div>
